.game{

  height: 90vh;
  width: 90vw;
  border:0;
  border-radius: 4px;
  overflow:hidden;
}

body{
  background-color: pink;

}
.container{
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
h1{

  display: flex;
  justify-content: center;
}
