.game{

  height: 100vh;
  width: 100vw;
  border:0;
  border-radius: 4px;
  overflow:hidden;
}

body{
  background-color: pink;

}
.container{
  display: flex;
  justify-content: center;
}
h1{

  display: flex;
  justify-content: center;
}
